<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="images/img1.png" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
                    </div>
        
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to weather app</p>
                        <h1>I AM A <span class="text_clr"> Mern Stack Developer </span> And Software Engineer </h1>
                        <a href="https://www.thapatechnical.com/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>